.nav-bar {
    z-index: 9;
    top: 0;
    left: 0;
    width: 240px;
    display: flex;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    transition: .5s ease-in-out;
    background-color: #014E31;
    box-shadow: 3px 0px 10px rgb(112, 112, 112);

    .menu-nav {
        display: none;
    }

    .container-field {
        .field {
            width: 100%;
            color: #fff;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s ease-in-out;
            background-color: #009860;
            box-shadow: inset 0px 0px 90px #0af593;
        }
    }

    .field:hover {
        background-color: #014e3d;
    }

    .main-logo {
        width: 96%;
        height: 10%;
        color: #fff;
        font-size: 1.8rem;
        margin-top: 10px;
        margin-left: 10px;
        position: relative;

        .arrow-back-navbar {
            top: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            display: flex;
            cursor: pointer;
            border-radius: 5px;
            position: absolute;
            align-items: center;
            justify-content: center;
            transition: .5s ease-in-out;
            background-color: #01DB8B;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.295);

            span {
                width: 100%;
                color: #014E31;
                font-weight: 900;
                font-size: 1.4rem;
                text-align: center;
            }
        }

        .arrow-back-navbar:hover {
            background-color: #04ffa3;
        }

        div:nth-child(2) {
            display: flex;
            margin-left: 20px;
            align-items: center;

            .circle {
                width: 10px;
                height: 10px;
                margin-left: 5px;
                margin-top: 10px;
                border-radius: 100%;
                background-color: #01DB8B;
            }
        }
    }

    .list-links-field {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        .link-field {
            width: 100%;
            height: 70px;
            display: flex;
            color: #fff;
            cursor: pointer;
            align-items: center;
            justify-content: space-around;



            i {
                pointer-events: none;
                transition: .5s ease-in-out;
            }

            .title-icon-link-field {
                width: 200px;
                display: flex;
                font-size: 1.5rem;
                pointer-events: none;
                justify-content: flex-start;

                span {
                    margin-right: 10px;
                }
            }
        }
    }

    .profile-login-logout {
        height: 10%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        span {
            padding: 10px;
            color: #fff;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .user {
            border-radius: 50px;
            background-color: #02915c;
        }
    }
}

@media screen and (max-width: 1158px) {
    .nav-bar {
        height: 100%;
        .nav-arrow {
            display: none !important;
        }

        .menu-nav {
            display: block;

            span {
                font-size: 3rem;
                color: #02915c;
                ;
            }
        }
    }

    .container-main-content {
        width: 85% !important;
        transform: translateX(0px) !important;
    }

    .nav-bar {
        position: fixed;
        width: 170px;

        .main-logo {
            margin: 0;
            height: 30%;
            display: flex;
            font-size: 1rem;
            justify-content: center;

            div:nth-child(1) {
                margin-top: 20px;
            }
        }

        .list-links-field {
            height: 100%;
            justify-content: space-evenly;

            .link-field {
                .title-icon-link-field {
                    justify-content: center;
                }
            }
        }

        .profile-login-logout {
            height: 30%;
        }

        .arrow-back-navbar {
            left: 170px !important;
        }

        .title-icon-link-field {
            span {
                display: none;
            }

            div {
                font-size: 1rem;
            }
        }

        .profile-login-logout {
            justify-content: center;

            span {
                font-size: 1.6rem;
            }
        }
    }

}


@media screen and (max-width: 412px) {
    .container-main-content {
        width: 80% !important;
    }
}

